:root {
  --bg-main: #000000;
  --bg-dark: #1f2122;
  --text-white: rgba(255, 255, 255, 0.8);
  --translucent-white: rgba(255, 255, 255, 0.5);
  --primary: #f5a623;
  --negative: #c22f00;
  --space-base: 16px;
  --border-radius: 4px;
  --space-sm: 12px;
  --space-md: 24px;
  --space-lg: 48px;
}

// Override Vant variables
:root:root {
  --van-button-primary-color: #ffffff;
  --van-button-primary-background: #f5a623;
  --van-button-primary-border-color: #f5a623;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
