:root {
  --bg-main: #000000;
  --bg-dark: #1f2122;
  --text-white: rgba(255, 255, 255, 0.8);;
  --translucent-white: rgba(255, 255, 255, 0.5);
  --primary: #F5A623;
  --negative: #C22F00;
  --space-base: 16px;
  --border-radius: 6px;
  --space-sm: 12px;
  --space-md: 24px;
  --space-lg: 48px;
}

// Override Vant variables
:root:root {
  --van-button-primary-color: #FFFFFF;
  --van-button-primary-background: #F5A623;
  --van-button-primary-border-color: #F5A623;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}
